# API Gateway Server Port
PORT=

# Redis Configuration for Rate Limiting
REDIS_ADDR=

# Clerk Authentication Settings

CLERK_ISSUER=
CLERK_JWKS_URL=

# Downstream Microservices URLs
EXPRESS_BACKEND_URL=
ORCHESTRATOR_URL=
AGENT_API_URL=
